absl-py==2.3.1
accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.1.8
contextlib2==21.6.0
contourpy==1.3.0
cycler==0.12.1
diffusers==0.36.0
exceptiongroup==1.3.1
fastapi==0.128.8
-e git+https://github.com/hinzz14/HFS-DiT-MRI.git@4cb7720900f08dfcf12e643b9c8629585d477961#egg=fastmri&subdirectory=fastMRI
filelock==3.19.1
flatbuffers==25.12.19
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.78.1
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
Jinja2==3.1.6
keras==3.10.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
lightning-utilities==0.15.2
lpips==0.1.4
lxml==6.1.1
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
ml_collections==0.1.1
ml_dtypes==0.5.4
mpmath==1.3.0
multidict==6.7.1
namex==0.1.0
networkx==3.2.1
nibabel==5.3.3
ninja==1.13.0
numpy==2.0.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.0
packaging==25.0
pandas==2.3.3
pillow==11.3.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.1
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.19.2
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
pytorch-lightning==1.9.5
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
rich==14.3.3
runstats==2.0.0
safetensors==0.7.0
scikit-image==0.24.0
scipy==1.13.1
six==1.17.0
starlette==0.49.3
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow_cpu==2.20.0
termcolor==3.1.0
tifffile==2024.8.30
tokenizers==0.22.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchmetrics==1.8.2
torchvision==0.20.1+cu121
tqdm==4.67.1
transformers==4.57.5
triton==3.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.39.0
Werkzeug==3.1.6
wrapt==2.1.2
yarl==1.22.0
zipp==3.23.0

